.cookie-manager {
    transition: all .4s ease-in-out;
    background: #eee;
    position: fixed;
    right: -260px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 260px;
    padding: 15px;

    &.active {
        right: 0;
    }

    p {
        line-height: 1;

        small {
            font-size: 70%;
        }
    }
}