<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="header"
    [ngClass]="{ 'active': isSidebarCollapsed }">
    <a class="navbar-brand" href="#">Heady</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"
        (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngbCollapse]="isNavbarCollapsed">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="main/pci">PCI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" (click)="isSidebarCollapsed = !isSidebarCollapsed">Sidebar</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid p-0">

    <div class="row no-gutters">

        <div class="sidebar-wrapper">

            <nav id="sidebar" class="sticky-top" [ngClass]="{ 'active': isSidebarCollapsed }">
                <div class="sidebar-inner">
                    <div class="sidebar-header">
                        <h3>Navigation</h3>
                        <strong>Menu</strong>
                    </div>

                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a>
                                <i class="fa fa-wpforms"></i>
                                <span>Home</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>

        <div class="col m-5">
            <img [src]="'/dummy/store/img/hotel/large/20.jpg'">
            <span style="height: 40px; display: block;"></span>

            <content-loader width="855">
                <svg:rect x="0" y="0" width="260" height="160" />
                <svg:rect x="270" y="0" width="100" height="10" />
                <svg:rect x="270" y="20" width="380" height="20" />
                <svg:rect x="270" y="50" width="320" height="10" />
                <svg:rect x="270" y="70" width="220" height="10" />
                <svg:rect x="270" y="120" width="300" height="10" />
                <svg:rect x="700" y="0" width="60" height="40" />
                <svg:rect x="785" y="0" width="60" height="40" />
                <svg:rect x="725" y="90" width="120" height="40" />
            </content-loader>
            <hr>
            <hotel-list-content-loader width="200px" [primaryColor]="'#f00'"></hotel-list-content-loader>

            <p *ngFor="let x of dummyData">
                {{x}}
            </p>

            <router-outlet></router-outlet>
        </div>

    </div>

</div>