<p>page-two works!</p>

<ng-template appCookieMonstter [type]="'kununu'">
    <h2>
        KUNUNU
    </h2>
    <div class="col-12 col-md-4 order-1 order-md-2 text-md-right text-center">
        <a href="https://www.kununu.com/de/tourismarketing-service?utm_source=widget&utm_campaign=widget_selfservice_scoreandreview"
            target="_blank" rel="nofollow"><img
                src="https://www.kununu.com/de/partner/KlNeC1daVw%3D%3D/self-service-button?button-type=2" width="170"
                height="100" alt="kununu"></a>
    </div>
</ng-template>

<ng-template appCookieMonstter [type]="'youtube'">
    <h2>
        YOUTUBE
    </h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-pilcJOGGkQ" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</ng-template>