/* You can add global styles to this file, and also import other style files */

@import "../node_modules/font-awesome/css/font-awesome.min.css";

// import bootstrap styles
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";

@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";

@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";

@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";

@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/alert";

@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/media";

@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";

@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";

// @import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/print";

.ngxp__container {
    max-width: 340px;
    background: #ffffff;
    color: black;
    padding: 15px !important;
    text-align: center;
    border: none !important;
    z-index: 10;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3) !important;
}

.ngxp__container[x-placement^="top"] {
    margin-bottom: 10px !important;

    .ngxp__arrow {
        border-color: #ffffff transparent transparent transparent !important;
        border-width: 10px 10px 0 !important;
        bottom: -10px !important;
        left: calc(50% - 10px) !important;
    }
}

.ngxp__container[x-placement^="bottom"] {
    margin-top: 10px !important;

    .ngxp__arrow {
        border-color: transparent transparent #ffffff transparent !important;
        border-width: 0 10px 10px !important;
        top: -10px !important;
        left: calc(50% - 10px) !important;
    }
}

.ngxp__container[x-placement^="right"] {
    margin-left: 10px !important;

    .ngxp__arrow {
        border-color: transparent #ffffff transparent transparent !important;
        border-width: 10px 10px 10px 0 !important;
        left: -10px !important;
    }
}

.ngxp__container[x-placement^="left"] {
    margin-right: 10px !important;

    .ngxp__arrow {
        border-color: transparent transparent transparent #ffffff !important;
        border-width: 10px 0 10px 10px !important;

        // bottom: -10px !important;
        right: -10px !important;
    }
}
